<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenidos a mi <%= title %></h1>
    <p>El portal donde podrá hacer sus propios juegos</p>
        <p><a href="/question">Que empiece el cuestionario</a></p>
  </body>
</html>
